{% extends "base.html" %}

{% block sidebar %}
  <div class="panel">
    <h4>Tags</h4>
    {% for tag in tags %}
      <span class="label info radius">
	<a href="{{ url_for('power.tag', slug=tag.slug)}}">{{ tag.name }}</a>
      </span>
    {% endfor %}
  </div>
  <div class="panel">
    <h4>Powers</h4>
    {% for power in powers %}
      <span class="label info radius">
	<a href="{{ url_for('power.detail', slug=power.slug) }}">{{ power.name }}</a>
      </span>
    {% endfor %}
  </div>
{% endblock sidebar %}

{% block content %}
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for site in sites %}
	<li>
	  <div class="ih-item square colored effect6">
	    <a href="{{ url_for('site.detail', slug=site.slug) }}">
	      <div class="img">
		{% if site.img %}
		  <img src="{{ site.img|get_image }}">
		{% else %}
		  <img src="{{ url_for('static', filename='img/site.png') }}">
		{% endif %}
	      </div>
	      <div class="info">
		<h3>{{ site.name }}</h3>
		<p>{{ site.intro|truncate(50) }}</p>
	      </div>
	    </a>
	  </div>
	</li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
