Flask
WTForms
flask-WTF
pymongo==2.8
mongoengine
flask-mongoengine
bcrypt
flask-bcrypt
flask-cache
python-slugify
Flask-Login
Flask-Script
Pillow
gunicorn
simplejson
celery
redis
requests
qiniu
# for development
Flask-DebugToolbar
watchdog
