{% extends "base.html" %}
{% from "_macros.html" import render_field %}
{% set active_page = 'login' %}

  {% block sidebar %}
    <div class="panel">
      Login to make comments or post site infomation
    </div>
  {% endblock sidebar %}

  {% block content %}
    <div class="large-4">
      <form method="post" action="{{ url_for('user.login') }}">
	<div class="panel">
	  {{ form.hidden_tag() }}
	  {{ render_field(form.username) }}
	  {{ render_field(form.password) }}
	  <input type="submit" class="button" value="Login" />
	</div>
      </form>
      <p>
	Not a user? <a href="{{ url_for('user.register') }}">Register here</a>
      </p>
      <p>
	Forget password? Try to <a href="{{ url_for('user.reset') }}">reset it</a>
      </p>
    </div>
  {% endblock %}
