{% extends "base.html" %}
{% from "_macros.html" import render_field %}
{% set active_page = 'register' %}

{% block content %}
  <div class="large-4">
  <form method="post" action="{{ url_for('user.register') }}">
    <div class="panel">
      <h4>Register</h4>
      {{ form.hidden_tag() }}
      {{ render_field(form.username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      <input type="submit" class="button" value="Register" />
    </div>
  </form>
  Already a user? <a href="{{ url_for('user.login') }}">Login</a>
  </div>
{% endblock %}
