{% extends "base.html" %}
{% from "_macros.html" import vote_js, render_pagination, show_comments %}

{% block sidebar %}
  <div class="panel">
    <h4>{{ power.name }}</h4>
    {% if power.img %}
      <a href="{{ power.url }}"><img src="{{ power.img|get_image }}"></a>
    {% else %}
      <a href="{{ power.url }}"><img src="{{ 'img/site.png'|get_static }}"></a>
    {% endif %}
    <a href="{{ power.url }}">{{ power.url }}</a>
    <br />
    {% for tag in power.tags %}
      <span class="label info">
	<a href="{{ url_for('power.tag', slug=tag.slug) }}">{{ tag.name }}</a>	
      </span>
    {% endfor %}
  </div>
  <div class="panel">
    <h4>Introduction</h4>
    {{ power.intro }}
    <hr />
    <ul class="inline-list">
      {% for link in power.links %}
	<li><a href="{{ link.url }}">{{ link.url }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for site in sites %}
	<li>
	  <div class="ih-item square effect6 from_top_and_bottom">
	    <a href="{{ url_for('site.detail', slug=site.slug) }}">
	      <div class="img">
		<img{% if site.img %} src="{{ site.img|get_image }}"{% else %} src="{{ 'img/site.png'|get_static }}"{% endif %} alt="{{ site.name }}">
	      </div>
	      <div class="info">
		<h3>{{ site.name }}</h3>
		<p>Introduction</p>
	      </div>
	    </a>
	  </div>
	</li>
      {% endfor %}
    </ul>
  </div>

  {{ show_comments(comments) }}
  <form action="{{ url_for('power.comment', power_id=power.id) }}" method="post">
    {{ form.hidden_tag() }}
    {% if g.user.is_authenticated() %}
      <input type="hidden" id="userid" name="userid" value="{{ g.user.id }}" />
      <input type="hidden" id="username" name="username" value="{{ g.user.username }}" />
    {% else %}
      Comment as <input name="username" type="text" value="" id="username"/>
    {% endif %}
    {{ form.content }}
    <input type="submit" class="button" value="Submit" />
  </form>
  {{ render_pagination(pagination) }}
{% endblock %}

{% block extra_js %}
  {{ vote_js("power", power) }}
{% endblock extra_js %}
