{% extends "base.html" %}
{% from "_macros.html" import render_pagination %}

{% set active_page = tag.slug %}

{% block sidebar %}
  <div class="panel">
    <h4>{{ tag.name }}</h4>
    
  </div>
  <div class="panel">
    <h4>Popular</h4>
    {% for power in powers %}
      <span class="label info">
	<a href="{{ url_for('power.detail', slug=power.slug) }}">{{ power.name }}</a>
      </span>
    {% endfor %}
  </div>
{% endblock %}


{% block content %}
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for power in powers %}
		<li>
	    <div class="ih-item {%if power.img and power.img|tell_square%}square{%else%}circle{%endif%} effect13 bottom_to_top">
	      <a href="{{ url_for('power.detail', slug=power.slug) }}">
	        <div class="img">
		  {% if power.img %}
		    <img src="{{ power.img|get_image }}">
				    {% else %}
		  <img src="{{ url_for('static', filename='img/1.jpg') }}">
		{% endif %}
	      </div>
	      <div class="info">
		  <h3>{{ power.name }}</h3>
		<p>{{ power.intro|truncate(50) }}</p>
	      </div>
	    </a>
	  </div>
	</li>
          {% endfor %}    
    </ul>

    {{ render_pagination(pagination) }}

  </div>
{% endblock %}
