{% extends "base.html" %}
{% from "_macros.html" import render_pagination %}

{% set active_page = tag.slug %}

{% block sidebar %}
  <div class="panel">
    <h4>Popular</h4>
    {% for power in powers %}
      <span class="label info">
	<a href="{{ url_for('power.detail', slug=power.slug) }}">{{ power.name }}</a>
      </span>
    {% endfor %}
  </div>
{% endblock %}


{% block content %}
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for power in powers %}
	<li>
	  <div class="power">
	    <a href="{{ url_for('power.detail', slug=power.slug) }}">
	    {% if power.img %}
	      <img alt="{{ power.name }}" src="{{ power.img|get_image }}" title="{{ power.name }}"/>
	    {% else %}
	      <img alt="{{ power.name }}" src="{{ url_for('static', filename='img/power.png') }}" title="{{ power.name }}"/>
	    {% endif %}
	    </a>
	  </div>
	</li>
      {% endfor %}    
    </ul>
    {{ render_pagination(pagination) }}
  </div>
{% endblock %}
