{% extends "base.html" %}
{% from "_macros.html" import render_field, image_upload %}

{% block content %}
  {{ image_upload(token, key) }}
  <form action="{{ url_for('site.add') }}" method="post">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.url) }}
    {{ render_field(form.intro) }}
    {{ render_field(form.powers) }}
    <input type="submit" class="button" value="Submit" />
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/select.js') }}"></script>
{% endblock extra_js %}
