{% extends "base.html" %}
{% from "_macros.html" import vote_js, render_pagination, show_comments %}

{% set active_page = "site" %}

  {% block sidebar %}
    <div class="panel">
      <h4>{{ site.name }}</h4>
      {% if site.img %}
	<img src="{{ site.img|get_image }}" class="" alt="{{ site.name }}" />
      {% else %}
	<img src="{{ 'img/site.png'|get_static }}" class="" alt="{{ site.name }}" />
      {% endif %}
      <p>{{ site.intro }}</p>
      <p>
	<a href="{{ site.url }}">
	  {{ site.url }}
	</a>
      </p>
    </div>
    {% if g.user.is_authenticated() %}
      <div class="panel">
	<a href="{{ url_for('site.edit', slug=site.slug) }}" class="button">Update</a>
      </div>    
    {% endif %}
  {% endblock %}


  {% block content %}
    <div class="row">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	{% for power in site.powers %}
	  <li>
	    <div class="power">
	      <a href="{{ url_for('power.detail', slug=power.slug) }}">
		{% if power.img %}
		  <img alt="{{ power.name }}" src="{{ power.img|get_image }}" title="{{ power.name }}"/>
		{% else %}
		  <img alt="{{ power.name }}" src="{{ 'img/power.png'|get_static }}" title="{{ power.name }}"/>
		{% endif %}
	      </a>
	    </div>
	  </li>
	{% endfor %}
      </ul>

      <div class="datetime">
	Last edit:{{ site.last_edit|format_time }}      
      </div>
      {{ show_comments(comments) }}
      <form action="{{ url_for('site.comment', site_id=site.id) }}" method="post">
	{{ form.hidden_tag() }}
	{% if g.user.is_authenticated() %}
	  <input type="hidden" id="userid" name="userid" value="{{ g.user.id }}" />
	  <input type="hidden" id="username" name="username" value="{{ g.user.username }}" />
	{% else %}
	  Comment as <input name="username" type="text" value="" id="username"/>
	{% endif %}
	{{ form.content }}
	<input type="submit" class="button" value="Submit" />
      </form>
    </div>
    {{ render_pagination(pagination) }}
  {% endblock %}

  {% block extra_js %}
    {{ vote_js("site", site) }}
  {% endblock extra_js %}
