{% extends "base.html" %}
{% from "_macros.html" import vote_js, render_pagination %}

{% set active_page = "site" %}

  {% block sidebar %}
    <div class="panel">
      <h4>{{ site.name }}</h4>
      {% if site.img %}
	<img src="{{ site.img|get_image }}" class="" alt="{{ site.name }}" />
      {% else %}
	<img src="{{ url_for('static', filename='img/site.png') }}" class="" alt="{{ site.name }}" />
      {% endif %}
      <p>{{ site.intro }}</p>
      <p>
	<a href="{{ site.url }}">
	  {{ site.url }}
	</a>
      </p>
    </div>
    {% if g.user.is_authenticated() %}
      <div class="panel">
	<a href="{{ url_for('site.edit', slug=site.slug) }}" class="button">Update</a>
      </div>    
    {% endif %}
  {% endblock %}


  {% block content %}
    <div class="row">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	{% for power in site.powers %}
	  <li>
	    <div class="power">
	      <a href="{{ url_for('power.detail', slug=power.slug) }}">
		{% if power.img %}
		  <img alt="{{ power.name }}" src="{{ power.img|get_image }}" title="{{ power.name }}"/>
		{% else %}
		  <img alt="{{ power.name }}" src="{{ url_for('static', filename='img/power.png') }}" title="{{ power.name }}"/>
		{% endif %}
	      </a>
	    </div>
	  </li>
	{% endfor %}
      </ul>

      <div class="datetime">
	Last edit:{{ site.last_edit|format_time }}      
      </div>

      <p>Comments:
	{% for comment in comments %}
	  <div class="panel panel-default" id="comment-{{loop.index0}}">
	    <a href="#" class="vote up"><i class="fa fa-thumbs-up"></i></a>
	    <a href="#" class="vote down"><i class="fa fa-thumbs-down"></i></a>
	    {{ comment.content }}
	    <div class="datetime">{{ comment.created|format_time }}</div> by @{{ comment.author.username }}
	  </div>
	{% endfor %}
      </p>

      <form action="{{ url_for('site.comment', site_id=site.id) }}" method="post">
	{{ form.hidden_tag() }}
	{% if g.user.is_authenticated() %}
	  <input type="hidden" id="author" name="author" value="{{ g.user.id }}" />
	{% else %}
	  Comment as <input name="author" type="text" value="" id="author"/>
	{% endif %}
	{{ form.content }}
	<input type="submit" class="button" value="Submit" />
      </form>
    </div>
    {{ render_pagination(pagination) }}
  {% endblock %}



  {% block extra_js %}
    {{ vote_js("site", site) }}
  {% endblock extra_js %}
