{% extends "base.html" %}
{% set active_page = "site" %}
  {% from "_macros.html" import render_field, textarea, select_panel, hide_select, image_upload %}

  {% block content %}
    {{ image_upload(token, key, item=item) }}
    <form action="{{ url_for('site.edit', slug=site.slug) }}" method="post">
      {{ form.csrf_token }}
      <input type="hidden" id="uuid" name="uuid" value="{{ item.id }}" />
      <input type="hidden" id="img" name="img" value="{{ item.img }}" />
      {{ render_field(form.name, value=item.name) }}
      {{ render_field(form.url, value=item.url) }}
      {{ textarea("intro", "Intro", value=item.intro) }}
      {{ select_panel(form.powers.choices, item.powers) }}
      {{ hide_select("powers", form.powers.choices, item.powers) }}
      <input type="submit" class="button" value="Update">
    </form>
  {% endblock %}

  {% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/select.js') }}"></script>
  {% endblock extra_js %}
