{% extends "base.html" %}
{% set active_page = "site" %}

{% block sidebar %}
  <div class="panel">
    <h4>Famous Site</h4>
  </div>
  {% if g.user.is_authenticated() %}
    <div class="panel">
      <a href="{{ url_for('site.add') }}" class="button">Add</a>
    </div>    
  {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
    <ul class="small-block-grid-3">
      {% for site in sites %}
	<li>
	  <div class="ih-item square colored effect4">
	    <a href="{{ url_for('site.detail', slug=site.slug) }}">
	      <div class="img">
		{% if site.img %}
		  <img src="{{ site.img|get_image }}">
		{% else %}
		  <img src="{{ url_for('static', filename='img/1.jpg') }}">
		{% endif %}
	      </div>
	      <div class="info">
		<h3>{{ site.name }}</h3>
		<p>{{ site.intro|truncate(45, True) }}</p>
	      </div>
	    </a>
	  </div>
	</li>
      {% endfor %}
    </ul>
    <div class="row pagination-centered">
      <ul class="pagination">
	<li><a href="">&laquo;</a></li>
	{% for p in range(10) %}
	  <li><a href="">{{ p }}</a></li>
	{% endfor %}
	<li><a href="">&raquo;</a></li>
      </ul>
    </div>
{% endblock %}
