{% extends "base.html" %}

{% block sidebar %}
  <div class="panel">
    <h4>Power Categories</h4>
    <a href="#"><img src="{{ url_for('static', filename='img/1.jpg') }}"></a>
  </div>
  <div class="panel">
    <h4> Popular Powers</h4>
    <hr />
    <ul class="inline-list">
      {% for power in powers %}
	<li><a href="#">{{ power.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock sidebar %}


{% block content %}
  <div class="row">
    <ul class="clearing-thumbs small-block-grid-3">
      {% for site in objects %}
	<li>
	  <div class="ih-item square effect6 from_top_and_bottom">
	    <a href="{{ url_for('site.detail', slug=site.slug) }}">
	      <div class="img">
		<img src="{{ url_for('static', filename='img/1.jpg') }}">
	      </div>
	      <div class="info">
		<h3>{{ site.name }}</h3>
		<p>Introduction</p>
	      </div>
	    </a>
	  </div>
	</li>
      {% endfor %}
    </ul>
  </div>

  <div class="row pagination-centered">
    <ul class="pagination">
      <li><a href="">&laquo;</a></li>
      {% for p in range(10) %}
	<li><a href="">{{ p }}</a></li>
      {% endfor %}
      <li><a href="">&raquo;</a></li>
    </ul>
  </div>

{% endblock content %}
