{% extends "admin/base.html" %}
{% from "_macros.html" import render_field, select_panel, hide_select, image_upload %}

{% block content %}
  {{ image_upload(token, key) }}

  <form class="" action="{{ url_for('admin.add_power') }}" method="post">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.url) }}
    {{ render_field(form.intro) }}
    {{ select_panel(form.tags.choices) }}
    {{ hide_select("tags", form.tags.choices) }}
    <input type="submit" class="button" value="Submit" />
  </form>
{% endblock content %}
